src/main/mule/google-api-service-account-example-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<http:request-config name="Google_OAuth_Request" doc:name="HTTP Request configuration" doc:id="fcab20a1-c7b6-4b24-b393-268eb6430965" >
		<http:request-connection protocol="HTTPS" host="oauth2.googleapis.com" port="443" />
	</http:request-config>
	<http:request-config name="Google_API_Request" doc:name="HTTP Request configuration" doc:id="7eedca37-5e69-4fff-8815-25b2a3b0e2d3" >
		<http:request-connection protocol="HTTPS" host="www.googleapis.com" port="443" />
	</http:request-config>
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fdd42959-adb7-4e88-9bb6-f2f36f654277" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<configuration-properties doc:name="Configuration properties" doc:id="b0d5af5b-5964-46e1-b9b2-0a1a6085fb2e" file="mule-properties.yaml" />

	<flow name="google-api-service-accountFlow1" doc:id="e520419e-1f0d-450c-b9bb-67bdef9cb11b" >
		<http:listener doc:name="/files" doc:id="24bfc787-0997-4ad0-9b02-09f4803ac7cf" config-ref="HTTP_Listener_config" path="/files"/>
		
		<ee:transform doc:name="Generate RSA signed JWT" doc:id="ec4c83b5-c362-4e6e-81b6-ed32d41861a0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="token" ><![CDATA[%dw 2.0
output application/java
import jwt::RSA
---
{
	token: RSA::JWT(
		{
			iss: p('google.clientEmail'),
			aud: 'https://oauth2.googleapis.com/token',
			scope: p('google.scope'),
			iat: now() as Number { unit: 'seconds' },
			exp: (now() + |PT3600S|) as Number { unit: 'seconds' }
		},
		p('google.privateKey')
	),
	expiration: now() + |PT3550S|
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Exchange JWT for Access Token - googleapis.com/token" doc:id="f5a294b7-967a-4f53-a011-4b5cb0b17210" config-ref="Google_OAuth_Request" path="/token">
			<http:body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
	grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',
	assertion: vars.token.token
}]]]></http:body>
		</http:request>
		<http:request method="GET" doc:name="/drive/v3/files" doc:id="1b6517e0-cd76-4dc9-8fb6-c4fbc17bb99a" config-ref="Google_API_Request" path="/drive/v3/files" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ payload.access_token
}]]]></http:headers>
		</http:request>
	</flow>

</mule>
